<div class= "container">
  <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <div class="more">

        <div class="detail">
          <li>
            <%= link_to tweet.racket, "/tweets/#{tweet.id}", method: :get, class:"racketname" %>
          </li>
        </div>
      </div>
      <span class="name">
      </span>
  </div>
</div>